.BarChat{
  display: flex;
  background-color: #dadce3;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: row;
}


.chartItems {

  max-width: 600px;
  max-height: 400px;
}
